<!doctype html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% trans 'Кыргызский институт языков и культуры' %}{% endblock %} | КИЯК</title>
    {% include 'base/links.html' %}
    {% block links %}{% endblock %}
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#fbfbfd">
</head>
<body>
    <div class="scroll-prog" id="scrollProg"></div>
    {% include 'base/menu.html' %}
    {% block content %}{% endblock %}
    {% include 'base/footer.html' %}

    <button id="button_up" class="upShow upShow__hide" aria-label="{% trans 'Наверх' %}"></button>

    {% include 'base/scripts.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>
