{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Приветственное слово ' %} {% trans 'Лю Бенг Ил' %}
{% endblock %}

{% block content %}
    <section class="section foreword">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img src="{% static 'images/university/Liu-Bang-Il.webp' %}" alt="" style="max-width: 100%">
                    <div class="title mt-3">
                        <span>{% trans 'Приветственное слово ' %}</span>
                        <h3>{% trans 'Лю Бенг Ил' %}</h3>
                        <p>{% trans 'Ректора Кыргызского института языков и культур, профессора, доктора филологических наук' %}</p>
                        <p class="">{% trans 'Заслуженного работника образования  Республики Корея' %}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <p class="pt-0">Приветствую Вас на официальном сайте Кыргызского института языков и культуры!</p>
                    <p>Кыргызский институт языков и культуры – это один из самых престижных международных институтов нашей страны.</p>
                    <p>Сотрудничает ведущими университетами мира, в рамках ежегодного прохождения стажировок в таких странах, как  США, КНР, Южная Корея, Турция,  и др.</p>
                    <p>Обучение в институте ведется по двум направлениям высшего образования (бакалавр 4 года):</p>
                    <ul class="pl-3">
                        <li>Лингвистика</li>
                        <li>Туризм</li>
                    </ul>
                    <p>Студенты нашего института могут обучаться на 5 языках: кыргызский, русский, английский, корейский, испанский.</p>
                    <p>Также в нашем институте ведется культурный класс Сокулук Седжон, где наши студенты могут окунуться в культуру Кореи. Кроме языковых курсов Сокулук Седжон провоодит кружки  К-Поп танцев, вокал, таэквондо, Барабан Нанто, корейские народные танцы.</p>
                    <p>Жизнь студентов нашего института насыщена яркими событиями, семинарами, дебатами, творчествами, экскурсиями, а также знакомством с интересными людьми.</p>
                    <p>Разрабатывая сайт института мы стремились сделать его максимально удобным для пользователей. На нашем сайте представлена информация для абитуриентов и их родителей, студентов, и всех, кто желает быть в курсе жизни нашего учебного заведения. Уверен, что вы получите ответы на все интересующие Вас вопросы.</p>
                    <p>Добро пожаловать на наш обновленный сайт KILC/КИЯК</p>
                    <p class="text-center mb-0"><b>С уважением,</b></p>
                    <p class="text-center mb-0"><b>ректор  КИЯК</b></p>
                    <p class="text-center"><b>профессор Лю Бенг Ил</b></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}